[user]
  name = Brian Ray
  email = brian.ray1@gmail.com

[alias]
  co = checkout
  ci = commit
  st = status -u
  br = branch
  df = diff -C
  ds = !git df --staged
  a = add -A
  sp = stash pop
  sl = stash list
  sd = stash drop
  p = push
  pl = pull

  l = log --decorate
  ls = l --stat
  lr = l --reverse
  lg = l -p
  lgr = lg --reverse
  lt = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

  cp = cherry-pick

  branch-name = !git rev-parse --abbrev-ref HEAD
  temp = !git a && OVERCOMMIT_DISABLE=1 git ci -m \"`git branch-name` temp ...\"
  t = temp
  rh = reset HEAD^
  rht = "!if [[ $(git log --oneline -1 | grep \"temp ...\") ]]; then echo "Running \"g rh\""; g rh; else echo "No temp commit."; fi"
  #rhard = "!if [ -n \"$1\" ]; then git reset --hard \"$1\"; else git reset --hard HEAD^; fi #"
  rhard = reset --hard
  rhead = reset --hard HEAD
  rprev = reset --hard HEAD^
  sort-br = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short)' refs/heads/

  mf = merge --no-ff

  ancestor = "!if git merge-base --is-ancestor \"$1\" HEAD; then echo I DO contain commit \"$1\"; else echo I DO NOT contain commit \"$1\"; fi #"
  reflogd = reflog --date=format:'%-m/%d %_I:%M:%S %p'


[color]
  ui = auto

[gc]
  pruneexpire = 30 days

[branch]
  # make 'git pull' default to 'git pull --rebase'
  autosetuprebase = always

[remote "origin"]
  # only push the current branch to its corresponding remote branch
  # so we don't accidentally push stable along with master
  push = HEAD

[core]
  excludesfile = /Users/bray/.gitignore

[diff]
  # Show moved lines in a different color
  colorMoved = default

[delta]
  syntax-theme = Dracula

  # navigate: n/N to jump between commits and hunks
  features = decorations navigate

[delta "decorations"]
  commit-decoration-style = blue ol bold
  file-style = omit
  hunk-header-style = file line-number syntax
  hunk-header-line-number-style = red bold

# e.g. git add -p
[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = diff3

[apply]
  whitespace = warn
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[include]
  path = ~/.gitconfig.local
