.DS_Store
bundle
plugged
*.swp
sessions
*.un~
undo
.rvmrc
.zshrc.local
.netrwhist
#.ruby-version
config/initializers/sql_logging.rb
jmeter*
bray.xcuserdatad/
.pryrc
.pry_history
public/assets/
Gemfile.local*
.vim/swp/*
tags
.config/tmux/plugins/
