.DS_Store
bundle
plugged
*.swp
sessions
*.un~
undo
.rvmrc
.zsh/local/
.netrwhist
#.ruby-version
config/initializers/sql_logging.rb
jmeter*
bray.xcuserdatad/
.pryrc
.pry_history
public/assets/
Gemfile.local*
.vim/swp/*
tags
.config/tmux/plugins/
.config/lazygit/state.yml

.claude/todos
.claude/ide
.claude/projects
.claude/shell-snapshots
.claude/statsig
